
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #4d4d4d;
    width: 120px;
    height: 120px;
    background: rgba(255,255,255,0.5);
    -webkit-animation: spin 2s linear infinite;
    /* ReSharper disable once CssNotResolved */
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -120px;
    margin-top: -120px;
	direction: ltr;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.red {
    color: #FF0000;
    font-weight: bold;
}

.olive {
    color: #808000;
    font-weight: bold;
}

.green {
    color: #5CDC2D;
    font-weight: bold;
}