<div class="container">
    <div class="row" style="height: 70px;"></div>

    <div class="spinner loader" ng-show="warehouseManagementCrtl.loading"></div>
    <div class="row">

        <div class="container" style="width: 100%; min-width: 1227px;">
            <table class="table table-inverse">
                <thead>
                    <tr>
                        <th style="width:5%">כמות נוכחית</th>
                        <th style="width:6%">כמות לעדכון</th>
                        <th style="width:12%">סוג שינוי</th>
                        <th style="width:37%">הערות</th>
                        <th style="width:10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ warehouseManagementCrtl.amount }}</td>
                        <td>
                            <input class="form-control .col-xs-1" type="text" name="changeAmount" ng-model="warehouseManagementCrtl.changeAmount" />
                        </td>
                        <td>
                            <button class="btn btn-default pull-right" ng-click="warehouseManagementCrtl.addAmount( warehouseManagementCrtl.changeAmount, warehouseManagementCrtl.remarks)">הוסף</button>
                            <button class="btn btn-default" style="margin: 0 16px;" ng-click="warehouseManagementCrtl.removeAmount( warehouseManagementCrtl.changeAmount, warehouseManagementCrtl.remarks)">הסר</button>
                            <button class="btn btn-default pull-left" ng-click="warehouseManagementCrtl.updateAmount(warehouseManagementCrtl.changeAmount, warehouseManagementCrtl.remarks)">עדכן</button>
                        </td>
                        <td><input class="form-control" type="text" name="changeAmount" ng-model="warehouseManagementCrtl.remarks" /> </td>
                        <td>
                            <button class="btn btn-default pull-right" ng-click="warehouseManagementCrtl.history()">היסטוריה</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

